<form action="changePassword" method="POST">
	<p>
		<label for="email">Enter the email id for the customer whose details you want to change</label>
		<input type="text" name="email" id="email" placeholder="Email...">
	</p>
	<p>
		<button type="submit">Submit</button>
	</p>
</form>