<div class="center hero-unit"> <h1>Easy MFA</h1>
	<h2>
		Augment your business with Multi Factor authentication is never simpler!
	</h2>
	<%= link_to "Sign up now!", new_company_registration_path, class: "btn btn-large btn-primary" %> </div>