<!DOCTYPE html>
<html>
  <head>
	    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	
	<style type="text/css">	
	.footer {
		background-image: url(http://www.bbc.co.uk/sn/cmp/homepage/css/1/styles/f/bg-page-footer.jpg);
		min-height: 60px; 
	}
	</style>

  </head>
  <body>
	    <h3>Welcome to MFA Services, <%= @user.name %></h3>
	<p>
		Someone probably you, tried to request to change your details at our website.
	</p>
	    <p>
		      To change your details on the site, just follow this link: <%= @url %>.
	    </p>
	<p>
		If you did not request to change your details, you can ignore this message.
	</p>
	    <p>Thanks for using MFA services and have a great day!</p>
	<div class="footer">
		
	</div>
  </body>
</html>