<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to MFA Services, <%= @user.name %></h1>
    <p>
      You have successfully added a company to your list of sign ins,
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      To change your details on the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>